.container{ 
    display: flex; 
    width: 300px; 
    border: 2px solid #333; 
    background-color: red; 
} 

.box{ 
    flex-basis: 200px;
    padding: 20px;
    background: lightblue; 
    border: 1px solid #555;
} 

.box1{ 
    flex-grow: 2; 
    /* flex-grow: ; */
}

.box2{ 
    flex-grow:1;
}